# Local environment folders and files
.env
.venv
env/
venv/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Bulk Directories
images/
logs/
models/
data/poultry_fecal_dataset/*

# Model Files
*.keras
*.h5

# logs
*.log
